.truncated {
    -webkit-box-orient: vertical !important;
    display: block !important;
    display: -webkit-box !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 3 !important;
}

.mdx {
  hr {
    margin: 50px 0;
    display: block;
  }

  ol,
  ul {
    margin: 1rem;
    margin-left: 1.5rem;
    text-align: justify;
    text-justify: inter-word;     
  }
}

p {
  text-align: justify;
  text-justify: inter-word;  
}
  